<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" data-provider-thread-count="2">
    <listeners>
<!--        <listener class-name="com.framework.practiceClasses.ListenerClass"/>-->
<!--        <listener class-name="com.framework.practiceClasses.AnnotationTransformer"/>-->
            <listener class-name="com.framework.listeners.Listeners"/>
            <listener class-name="com.framework.listeners.AnnotationTransformer"/>
<!--            <listener class-name="com.framework.listeners.methodInterceptor"/>-->
<!--        <listener class-name="com.framework.practiceClinAdasses.MethodInterceptor"/>-->
    </listeners>
    <test name="SeleniumAdvanceFramework" thread-count="3" >
        <classes>
<!--            <class name="com.framework.practiceClasses.runner"/>-->
<!--            <class name="com.framework.tests.HomePageTest"/>-->
            <class name="com.framework.tests.OrangeHRMTest"/>
        </classes>
    </test>
</suite>